.header{background-color: #73e6e6;  
  font-family: "Lucida Sans";
color: #ffffff;
border-bottom: solid 4px #000000;
display:block;
width: 100%;
}


div .flexbox {display: flexbox;}
.flexbox > div {width:33%;}
.block{width:50%;}
.box1{background-color: pink;
  border:solid 2px #000000; 
  margin:auto;
padding: 20px;}
.box2{background-color: rgb(28, 131, 131);
  padding: 20px;}
.box3{background-color: rgb(104, 33, 110);
  padding: 20px;}
.block p{font-style: italic;}