.header{background-color: #73e6e6;  
  font-family: "Lucida Sans";
color: #ffffff;
border-bottom: solid 4px #000000;
display:block;
width: 100%;
}

*{box-sizing:border-box;}
.gallery img{width:100%;
  max-width:350px;
  height:300px;
}
div .flexbox {display: flex;}
.flexbox > div {width:33%;
padding:10px;
text-align: center;}
.block{width:50%;
  height: 50px;
  color:#ffffff;
padding:20px;}
.box1{background-color: pink;
  border:solid 2px #000000; 
  text-align: center;}
.box2{background-color: rgb(28, 131, 131);
  border:solid 2px #000000; 
  text-align: center;}
.box3{background-color: rgb(104, 33, 110);
  border:solid 2px #000000; 
  text-align: center;}
.block p{font-style: italic;}
.flexbox-image{width:50%;
max-height:100px;
padding:10px;
}