.header{background-color: #73e6e6;  
  font-family: "Lucida Sans";
color: #ffffff;
border-bottom: solid 4px #000000;
display:block;
width: 100%;
}

h3{font-style: italic;}
div .flexbox {display: flexbox;}
.flexbox > div {width:33%;}
.box1{background-color: pink; 
  text-align: "center"}